<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo" href="#">f/m</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto"> <!-- Align items to the right -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/fileUpload" routerLinkActive="active">File Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fileSearch"  >File Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Logout</a>
      </li>
    </ul>
  </div>
  <div class="admin-div"> <!-- Align to the right -->
    <label class="text-light">Welcome User</label> <!-- Adjust text color -->
  </div>
</nav>

<div class="container">
<div class="row justify-content-center">
<div class="col-md-12 mt-5">
<form (ngSubmit)="uploadFile($event)" #fileUploadForm="ngForm">
  <h2 class="bg-primary text-white p-2">Create User</h2>
    <div class="form-group">
      <label for="majorHead">User Type</label>
      <select id="majorHead" name="majorHead" [(ngModel)]="selectedMajorHead" (change)="setMinorHeadOptions()" class="form-control">
        <option value="personal">Personal</option>
        <option value="professional">Professional</option>
      </select>
    </div>
    <div class="form-group">
      <label for="minorHead">Department:</label>
      <select id="minorHead" name="minorHead" [(ngModel)]="selectedMinorHead" class="form-control">
        <option *ngFor="let option of minorHeadOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="tags">Tags:</label>
      <input type="text" id="tags" name="tags" [(ngModel)]="tagsInput" class="form-control mb-2" (keydown.enter)="addTag($event)">
      <div *ngIf="tags.length > 0" class="tags-container border p-2">
        <span class="tag mr-2" *ngFor="let tag of tags">{{ tag+" " }} <span class="tag-close " role="button" (click)="removeTag(tag)">&times;</span></span>
      </div>
    </div>
    <div class="form-group">
      <input type="file" id="file" name="file" (change)="onFileSelected($event)" class="form-control-file" required>
      
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="fileUploadForm.invalid">Upload</button>
  </form>
  </div>
  </div>
  </div>

  <script>
    
  </script>
