<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo" href="#">f/m</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto"> <!-- Align items to the right -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/fileUpload" >File Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fileSearch"  routerLinkActive="active">File Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Logout</a>
      </li>
    </ul>
  </div>
  <div class="admin-div"> <!-- Align to the right -->
    <label class="text-light">Welcome User</label> <!-- Adjust text color -->
  </div>
</nav>
<!-- Search form -->
<div class="container my-4">
  <h2 class="bg-primary text-white p-2 my-4">Search User</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="majorHead">Major Head:</label>
        <select id="majorHead" name="majorHead" [(ngModel)]="selectedMajorHead" (change)="setMinorHeadOptions()" class="form-control">
          <option value="personal">Personal</option>
          <option value="professional">Professional</option>
        </select>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="form-group">
        <label for="minorHead">Minor Head:</label>
        <select id="minorHead" name="minorHead" [(ngModel)]="selectedMinorHead" class="form-control">
          <option *ngFor="let option of minorHeadOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="form-group">
        <label for="tagSearch">Search by Tags:</label>
        <input type="text" id="tagSearch" class="form-control" [(ngModel)]="searchQuery">
      </div>
    </div>
  </div>
  
  <!-- Search button -->
  <div class="text-center">
    <button class="btn btn-primary" (click)="searchFiles()">Search</button>
  </div>
</div>

<!-- Display search results -->
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Tag</th>
        <th scope="col">Filename</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filteredData">
        <td>{{ data.minorHead }}</td>
        <td>{{ data.majorHead }}</td>
        <td>{{ data.tags }}</td>
        <td>{{ data.file[0].name }}</td>
        <td>
          <button class="btn btn-warning mr-2" (click)="previewFile(data.file[0])">Preview</button>
          <button class="btn btn-success" (click)="downloadFile(data.file[0])">Download</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
